.greyBtnBorder{
      border-color: #e5e5e5;
      padding: .375rem 1.75rem;
      line-height: 2.5;
}
.borderBtn{
  border-bottom: 2px solid #ffc107!important;
}
.BtnBgTransBorder{
  background-color: Transparent;
  border: 1px solid grey;
  cursor:pointer;

}
