$orange:#faca06;
$grey:#7a7a7a;
$greyText:#828282;
$lightOrange:#fcca03;
$font_family_1: 'Kaushan Script', cursive;
$font_family_2: 'Raleway', sans-serif;
$font_family_3: 'Lato', sans-serif;
$LatoRegular : LatoRegular ;
$LatoItalic: LatoItalic ;
$LatoBold:LatoBold;
$RalewayRegular : RalewayRegular ;
$RalewayItalic: RalewayItalic ;
$RalewayBold:RalewayBold;
$black-color:#303233;
$font20:20px;
$font17:17px;
$font14:14px;
$font16:16px;
