.fir{
  background-image: url("../../src/img/icons/msgB.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.sec{
  background-image: url("../../src/img/icons/chainB.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.thr{
  background-image: url("../../src/img/icons/bagB.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.four{
  background-image: url("../../src/img/icons/arrowB.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.fif{
  background-image: url("../../src/img/icons/settingsB.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.six{
  background-image: url("../../src/img/icons/arowB.png");
  background-repeat: no-repeat;
  background-size: contain;
}
